streamlit==1.35.0
diffusers==0.27.2
transformers==4.38.2
torch==2.2.2 --index-url https://download.pytorch.org/whl/cpu  # Use CPU-only version
accelerate==0.27.1
xformers==0.0.23.post1 --index-url https://download.pytorch.org/whl/cpu  # Use CPU-only version
ffmpeg-python==0.2.0
huggingface-hub==0.20.3
